body {
  width: 100%;
  height: 100%;
  background-color: white;
}

.header {
  padding: 15px;
}

.container-div {
  width: 100%;
  height: 100%;
  text-align: center;
}

.full-note {
  font-family: "Montserrat", sans-serif;
  background-color: white;
  width: 35%;
  margin: 10px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: all 0.08s linear;
}

.full-note:hover {
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.15);
}

.saved-notes {
  padding: 0px;
}

.form-group {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.form-control {
  margin: 3px 3px 3px 0px;
}

.btn {
  height: 38px;
}

.list-container,
.checked-items-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  justify-content: space-evenly;
  padding: 0px;
  text-align: center;
  list-style-type: none;
}

.list-item {
  margin: 5px 5px 5px 1px;
  padding: 2px;
  cursor: pointer;
  list-style-type: none;
  border: none;
  text-align: left;
  border: none;
}

.checked-items-list {
  text-decoration: line-through;
  padding: 0px;
  margin: 0px;
}

.checked-items {
  text-align: left;
}

.checked-item:hover {
  cursor: pointer;
}

.trash-div {
  display: flex;
  justify-content: flex-end;
}

.trash-icon {
  transition: all 0.5s;
  opacity: 0;
  visibility: hidden;
}

.trash-icon.show {
  opacity: 1;
  visibility: visible;
}

.trash-icon:hover {
  cursor: pointer;
  color: black;
}

.trash-icon {
  color: #808080;
}

@media (max-width: 768px) {
  .full-note {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    width: auto;
    padding: 10px 5px;
    margin: 5px 0px 5px 0px;
  }

  .list-item {
    margin: 3px 3px 3px 1px;
    padding: 0px;
  }
}
